# Logs
logs
*.log
npm-debug.log*

# Generated Docs
docs

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules
